.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    row-gap: 2rem;
    column-gap: 2rem;
}

.card-container .card-screenshot {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-self: flex-start;
    text-align: center;
    min-height: 875px;
    max-width: 550px;
    border: 0.1rem solid #AAE0EE;
    border-radius: 2rem;
}

.card-container .card-screenshot .card-top {
    padding: 1rem 0;
}

.card-container .card-screenshot .card-top h3 {
    margin-top: 2rem;
    font-size: 40px;
    font-weight: bold;
}

.card-container .card-screenshot .card-middle {
    padding: 1.2rem 0;
}

.card-container .card-screenshot .card-middle img {
    object-fit: contain;
    max-width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card-container .card-screenshot .card-bottom {
    margin: auto 2rem 0 2rem;
    padding: 1.2rem 0;
    flex-grow: 1;
    align-content: center;
}

.card-container .card-screenshot .card-bottom p {
    font-size: 24px;
}

.card-container .card-meble {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-self: flex-start;
    text-align: left;
    width: 550px;
    min-height: 425px;
    border: 0.1rem solid #AAE0EE;
    border-radius: 2rem;
}

.card-container .card-meble .card-top img {
    display: flex;
    object-fit: fill;
    margin: 2.5rem 2rem 1rem 2rem;
}

.card-container .card-meble .card-middle {
    margin: 0 2rem 0 2rem;
    align-content: center;
}

.card-container .card-meble .card-middle h3 {
    font-size: 40px
}

.card-container .card-meble .card-bottom {
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    flex-grow: 1;
    align-content: center;
}

.card-container .card-meble .card-bottom p {
    font-size: 24px;
}

.card-container .card-personal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-self: flex-start;
    text-align: left;
    max-width: 550px;
    min-height: 350px;
    border: 0.1rem solid #AAE0EE;
    border-radius: 2rem;
}

.card-container .card-personal .card-top {
    padding: 0.6rem 0;
}

.card-container .card-personal .card-top img {
    object-fit: fill;
    margin: 3rem 2rem 0 2rem;
}

.card-container .card-personal .card-middle {
    padding: 0.6rem 0;
}

.card-container .card-personal .card-middle h3 {
    font-size: 20px;
    margin: 0 2rem 0 2rem;
}

.card-container .card-personal .card-bottom {
    padding: 0.6rem 0;
}

.card-container .card-personal .card-bottom p {
    font-size: 20px;
    margin: 0 2rem 1rem 2rem;
}

.card-container .card-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-self: flex-start;
    text-align: center;
    width: 550px;
    max-width: 550px;
    border: 2px solid #AAE0EE;
    border-radius: 2rem;
    background-color: #FFFFFF;
}

@media (max-width: 550px) {
    .card-screenshot {
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .card-meble {
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .card-personal {
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .card-list {
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }
}