* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    zoom: 0.75;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap;
}

/*nagłówek*/
.home-section {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 2090px;
}

.home-content {
    min-width: 60%;
    display: flex;
    position: relative;
    justify-content: center;
}

.home-image {
    max-width: 40%;
    width: auto;
    display: flex;
    position: relative;
    flex-grow:1;
    align-items: stretch;
    background-image: url('img1.png');
}

.box-align-left {
    text-align: left;
}

.box-align-center {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.box-justify-between {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

/*sekcje*/
.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5rem 5rem 5rem 5rem;
}

.section-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1875px;
}

@media (max-width: 480px) {
    .section {
        padding: 2rem 2rem 2rem 2rem;
    }
}