.circle-number {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #88D4E7;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.horizontal-line {
    width: auto;
    height: 0;
    border-top: 1px solid #9EA2A4;
    opacity: 1;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    margin-top: 0.5rem;
}