.circle-container {
    padding-bottom: 1rem;
    width: 100%;
    max-width: 550px;
    position: relative;
    text-align: center;
}

.circle-number {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #88D4E7;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.circle-line {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 2px;
}

.horizontal-line {
    height: 0;
    border-top: 1px solid #9EA2A4;
    opacity: 1;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    margin-top: 0.5rem;
}

@media (max-width: 550px) {
    .circle-container {
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }
}